@tailwind base;

@layer base {
  h1 {
    @apply text-6xl;
    @apply m-0;
  }
  h2 {
    @apply text-5xl;
    @apply m-0;
  }
  h3 {
    @apply text-4xl;
    @apply m-0;
  }
  h4 {
    @apply text-3xl;
    @apply m-0;
  }
  h5 {
    @apply text-2xl;
    @apply m-0;
  }
  h6 {
    @apply text-xl;
    @apply m-0;
  }
}

@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  color: #fff;
  background: theme(colors.stale.800) url(/assets/bg.svg) no-repeat bottom;
  background-size: 100% 111px;
  letter-spacing: 0.02rem;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
